tags
*.pyc
*.swp
__pycache__/
.python-version
.idea
**/.directory
doc/build/
doc/source/auto_examples/
.coverage
*.egg-info
build
dist
models/*
figures/output/
*.aux
*.lof
*.dvi
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
# beamer
*.nav
*.pre
*.snm
*.vrb
*.bak~
slides/commit.tex
